<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides direction="vertical" pager>
    
     <ng-container *ngFor="let stateField of jsonArr; let i = index" [attr.data-index]="i">
      <ion-list *ngIf="i % 4 == 0">
        <ion-slide>
          <ng-container *ngFor="let stateField of slidesTotal; let j = index" [attr.data-index]="j">
            <ion-list *ngIf="jsonArr[i + j]">
              <div class='levels unlocked-{{jsonArr[i + j].unlock}}' (click)="gameLevel(j, $event)">
                <div class="level-image">
                  <img src="{{'http://192.168.1.26:3000'+jsonArr[i + j].photos_url}}" alt="">
                </div>
                <div class="level-description">
                  <h3>{{jsonArr[i + j ].title}}</h3>
                  <p>
                    {{jsonArr[i + j ].body}}
                    <span>{{jsonArr[i + j ].highest_score}}</span>
                    <span>{{jsonArr[i + j ].unlock_score}}</span>
                  </p>
                </div>
              </div>
            </ion-list>
          </ng-container>
          </ion-slide>
      </ion-list>
     </ng-container>

  </ion-slides>
</ion-content>