page-change-password {
  .change-password {
    width: 60%;
    margin: 5% auto;

    .item {
      background-color: transparent;
    }
  }

  .list .item-input:last-child,
  .list > .item-block:first-child {
    border: 0;
  }
}
