@import "mixins.scss";
$primary-color: #00abea;

button.button-default  {
  min-height: 48px;
  text-transform: uppercase;
}

.text-input {
  @include placeholder {
    font-weight: 200; 
    font-size: 16px;
    color: #000;
  }
}

.bar-button-default {
  color: #000;
}

.toolbar-background {
  background: #fdfdfd;
}

.header:after {
  background-image:none;
}

.menu-enabled {
  .menu-inner {
    .content, .scroll-content, .item , .toolbar-background{
      background: $primary-color;
      color: white;
    }

    /*.item-inner{
      &:after {
        
      }
    }*/
  }

  .toolbar-background {
    border: 0;
  }

  .toolbar {
    .button-inner {
      color: #000;
    }
  
    .toolbar-title {
      color: #fff;
      font-weight: 200;
    }
  }

  button.item {
    padding: 0;

    .label {
      margin-left: 5%;
      font-weight: 200;

      ion-icon {
        padding-right: 15px;
      }
    }
    
    .item-inner {
      background-image: none!important;
    }

  }
}

.content, .scroll-content {
  overflow: hidden;
  background: #f7f5f5;
}

.list > .item-block:last-child .item-inner {
  border-bottom: 0.55px solid #c8c7cc;
}

.message {
  text-align: center;;
}