@mixin vertical-center($number) {
  position: absolute;
  top: $number;
  transform: translate(0, -$number);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}
