page-account {
	.link {
		color: $primary-color;
	}

	.account {
		.scroll-content {
			width: 60%;
			margin: auto;
		}

		.info {
			text-align: center;
			font-size: 14px;
			height: 40%;
			border: 1px solid $primary-color;
			margin: 10% 0 7%;
			min-height: 95px;

			p{
				padding-top: 5%;
			}
		}
	}
}
