page-form {
  font-weight: 200;

  .form-errors {
    position: absolute;
    right: -35%;
    top: 14px;
    width: 117px;
    color: red;
    background: #fff;
    padding: 7px 10px;
    margin: -10px -20px;
    border-radius: 5px;
    color: #000;

    -webkit-box-shadow: 0px 2px 46px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 46px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 46px -16px rgba(0,0,0,0.75);

    &:before {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%; 
      margin-top: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent #fff transparent transparent;
    }
  }

  .scroll-content {
    width: 60%;
    margin: 0 auto;
    overflow: initial;
  }

  .label {
    .icon {
      color: #000;
    }
  }

  .top-title {
    height: 30%;
    width: 100%;
    display: block;
    position: relative;
    
    img {
      width: 70%;
      position: absolute;
      left: 0;
      right: 0;
      display: inline-block;
      margin: 0 auto;
    } 

    h3 {
      @include vertical-center(30%);
      color: $primary-color;
      font-weight: normal;
    }
  }

  .item-block:last-child,
  .item-wrapper:last-child .item-block,
  .item-block:first-child,
  .list-md .item-input:last-child {
    border-color: transparent!important;
    padding: 0;
  }

  .forgot-password {
    color: #454445;
    display: block;
    float: right;
  }

  .list {
    margin-bottom: 0;
    position: relative;

    .list {
      &:last-of-type {
        .item-block .item-inner {
          border: 0;
        }
      }

      &:first-of-type {
        .item-block .item-inner {
          border-bottom: 0.55px solid #c8c7cc;
        }
      }
    }
  }

  .switch-status {
    display: block;
    text-align: center;

    &.button {
      margin-top: 20px;
    }
  }

  .switch-status-item {
    margin: 10px 0;
  }
  
  .item-block {
    background-color: transparent;
  }

  .item {
    padding-left: 0;
  }
}
