<ion-content padding>
  <div class="top-title">
    <img src="../assets/logo.png" alt="">
    <ng-container [ngSwitch]="state">
      <h3 *ngSwitchCase="'login'">Sign In</h3>
      <h3 *ngSwitchCase="'register'">Sign Up</h3>
      <h3 *ngSwitchCase="'forgotPassword'">Forgot Password</h3>
    </ng-container>
  </div>
    
  <ion-list>
    <ion-list *ngIf="state =='forgotPassword' else normalLoop">
      <ion-item>
        <ion-label><ion-icon name="person"></ion-icon></ion-label>
        <ion-input #form_user_password_forgot type="text" placeholder="Email" [(ngModel)]="emailInput"></ion-input>
      </ion-item><font *ngIf="errorEmail != ''" class="form-errors email">{{errorEmail}}</font>
    </ion-list>
    <ng-template #normalLoop>
      <ng-container *ngFor="let stateField of inputPar; let i = index" [attr.data-index]="i">
        <ion-list *ngIf="i == 0">
          <ion-item >
            <ion-label><ion-icon name="person"></ion-icon></ion-label>
            <ion-input #form_user_login type="text" placeholder="Email" [(ngModel)] = "emailInput"></ion-input>
          </ion-item><font *ngIf="errorEmail != ''" class="form-errors email">{{errorEmail}}</font>
        </ion-list>
        <ion-list *ngIf="i == 1">
          <ion-item>
            <ion-label><ion-icon name="lock"></ion-icon></ion-label>
            <ion-input #form_user_password type="password" placeholder="Password" [(ngModel)] = "passwordInput"></ion-input>
          </ion-item>
          <font *ngIf="errorPassword != ''" class="form-errors password">{{errorPassword}}</font>
        </ion-list>
        <ion-list *ngIf="i == 2">
          <ion-item>
            <ion-label><ion-icon name="lock"></ion-icon></ion-label>
            <ion-input #form_user_password_confirm type="password" placeholder="Confirm Password" [(ngModel)] = "confirmPasswordInput"></ion-input>
          </ion-item>
          <font *ngIf="errorConfirmPassword != ''" class="form-errors password">{{errorConfirmPassword}}</font>
        </ion-list>
      </ng-container>
    </ng-template>
  </ion-list>

  <div *ngIf="state =='login'">
    <a class="login-link forgot-password" (click)="getState('forgotPassword', forgotPasswordPage)">Forgot Password ?</a>
  </div>

  <div class="switch-status button" [ngSwitch]="state">
    <div *ngSwitchCase="'register'">
      <button ion-button block (click)="sendRegisterData()">Register</button>
    </div>
    <div *ngSwitchCase="'login'">
      <button ion-button block (click)="sendLoginData()">Sign In</button>
    </div>  

    <div *ngSwitchCase="'forgotPassword'">
      <button ion-button block (click)="sendForgotPasswordData()">Forgot password</button>
    </div>
  </div>

  <div class="switch-status" [ngSwitch]="state">
    <div class="switch-status-item" *ngSwitchCase="'login'">Don't have an account? <a class="login-link" (click)="getState('register', registerPage)">Sign Up</a></div>
    <div class="switch-status-item" *ngSwitchCase="'register'">Already have an account? <a class="login-link" (click)="getState('login', loginPage)">Sign In</a></div>
    <div class="switch-status-item" *ngSwitchCase="'forgotPassword'"><a class="login-link" (click)="getState('login', loginPage)">Sign In</a> | <a class="login-link" (click)="getState('register', registerPage)">Sign Up</a></div>
  </div>

  <!--<ion-item>
    <span>Message:{{message}} </span>
    <span>Error: {{errorMessage}}</span>
  </ion-item>-->

</ion-content>
